body{
    font-family: 'Bree Serif', serif;
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Koulen', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    border-radius: 30px;
}
.half-width{
    background-color: black;
    align-items: center;
    margin-top: 50px;
    padding: 75px;
}
.half-width img{
    width: 100%;
    margin-left: 10px;
}
.half-width, h1, p{
    color: white;
}
.header-title{
    font-size: 55px;
}
.para-title{
    font-size: 15px;
}
.link-btn{
    display: inline-block;
    color: white;
    background-color: red;
    margin-top: 40px;
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
}
.side-width{
    width: 210px;
    height: 290px;
    background-color: black;
    margin-top: 50px;
    margin-right: 150px;
    border-radius: 10px;
    text-align: center;
}
.side-width a{
    text-decoration: none;
    margin-right: 15px;
}
.side-width li{
    list-style: none;
}
.link-btn-2{
    display: inline-block;
    margin-top: 35px;
    margin-left: 10px;
    background-color: white;
    color: black;
    padding: 15px 15px;
}
.fixure-sec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    margin-top: 50px;
    margin-right: 10px;
    padding: 15px;
}
.description{
    text-align: center;
    margin: 15px;
}